<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheduler SPA</title>
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
    <form name="candidate">
        <div class="row">
            <input type="text" name="name" placeholder="Enter name here ... " class="halved"/>
            <input type="text" name="phone" placeholder="Enter phone here ... " class="halved borderleft"/>
        </div>
        <div class="row">
            <textarea name="notes">UI Developer</textarea>
        </div>
    </form>

    <div class="row">
        <button id="btn_save_candidate">Save Candidate</button>
        <div class="clearfix"></div>
    </div>

    <table class="row">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Notes</th>
        </tr>
        <tbody id="candidates_info">


        </tbody>
    </table>
    <script src="/js/src/scheduler_src.js"></script>
    <script src="/js/src/scheduler.js"></script>
</body>
</html>